---
title: the handmade bench

---
doctype html
html
    head
        title #{title} by architect.codes
        link(rel="stylesheet", href="/article.css")

    body
        h1 #{title}
        article
            a(
                href="https://photos.google.com/share/AF1QipPVvhuCKsSyl7zyNmHB3KeBYnBGjq15IyBXlWyb4sWgXKyJsQySSSr_K_KajDlu3Q/photo/AF1QipN8rVxsUbcDZzS4NroTXqEq0J6Az5hol-yCzHu4?key=R3BLYm1TMTYwVGd3SksxWDFybnJJZVlXMDZTSGF3"
                target="_blank"
            )
                img(
                    alt="the handmade bench"
                    src="handmade-bench/cover.jpg"
                )
